# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

*.properties
*.lock
*.bin
*.css
*.htc
*.js
*.idx
build/tmp/expandedArchives/org.jacoco.agent-0.7.1.201405082137.jar_3cp96t5r2v6ikva9b6ijabqr57/about.html
build/tmp/expandedArchives/org.jacoco.agent-0.7.1.201405082137.jar_3cp96t5r2v6ikva9b6ijabqr57/jacocoagent.jar
build/tmp/expandedArchives/org.jacoco.agent-0.7.1.201405082137.jar_3cp96t5r2v6ikva9b6ijabqr57/META-INF/MANIFEST.MF
*.xml
*.html
*.MF
build/tmp/expandedArchives/org.jacoco.agent-0.7.1.201405082137.jar_3cp96t5r2v6ikva9b6ijabqr57/org/jacoco/agent/AgentJar.class
onepress.bat
runacceptance.bat
build/libs/group2-project-1.0.jar
build/jacoco/test.exec
build/tmp/expandedArchives/org.jacoco.agent-0.7.1.201405082137.jar_3cp96t5r2v6ikva9b6ijabqr57/META-INF/MTNMINDS.RSA
build/tmp/expandedArchives/org.jacoco.agent-0.7.1.201405082137.jar_3cp96t5r2v6ikva9b6ijabqr57/META-INF/MTNMINDS.SF
build.gradle
build/classes/main/edu/jsu/mcis/ArgumentParser.class
build/classes/test/edu/jsu/mcis/ArgumentParserTest.class